.py-5 {
  padding-top: 3.5rem !important;
  padding-bottom: 3.5rem !important;
}
.nav-tabs.nav-bordered {
  margin: 0px 40px;
  flex-shrink: unset;
}

/* .nav-tabs.nav-bordered li a.active {
  border-bottom: none;
} */

.nav-pills > li > a,
.nav-tabs > li > a {
  color: #6c757d;
  font-weight: 600;
}

.nav-pills > li > a,
.nav-tabs > li > a:hover {
  color: #6c757d;
  font-weight: 600;
}

.tab-content {
  background-color: white;
  color: black;
  padding: 20px 40px;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.tab-title {
  margin: 40px 20px;
  font-size: 22px;
  font-weight: 400;
}
