.p-color {
  font-weight: bold;
  font-size: 18px;
  background-image: linear-gradient(
    -163deg,
    #f7541c 11%,
    #80731c 63%,
    #f0c712 100%,
    #000000 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
